body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/background_small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1rem; /* Base font size */
}
#footer {
    margin-top: auto; /* Push the footer to the bottom of the page */
}
.black-bg {
    background-color: black;
}

.container {                                                                         
    display: flex;                                                                   
    flex-direction: column;                                                          
    align-items: center; /* Center content horizontally */                           
    justify-content: center; /* Center content vertically */                         
    flex: 1; /* Allow container to grow and fill available space */                  
    overflow: auto; /* Allow content to scroll if necessary */                       
    gap: 30px; /* Add space between sections */                                      
} 


a {
    color: #f2cb05; /* Yellow for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline links on hover */
}

#navbar {
    background-color: #000000; /* Black background for navbar */
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

#navbar a {
    color: #f2cb05; /* Dark text for navbar links */
    margin: 0 10px;
}

#navbar a:hover {
    color: #f2cb05; /* Change link color on hover */
}

#songs-table {
    max-width: 800px;
    width: 90%;
    padding: 1.25rem;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 0.625rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 3rem auto;
    flex: 1;
}

#songs-table h2 {
    margin-top: 0;
    color: #f2cb05;
    font-size: 1.5rem;
}

#song-search {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border: 1px solid #2b2525;
    border-radius: 0.3125rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 0.625rem;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    font-size: 0.875rem;
}

th {
    background-color: #373737;
}

tr:hover {
    background-color: #1b1b1b;
}

/* Footer styles */
#footer {
    background-color: #000000; /* Red for footer */
    padding: 20px;
    text-align: center;
    color: #ffffff; /* White text */
    flex-shrink: 0; /* Prevent footer from shrinking */
}

#footer a {
    color: #ffffff; /* White text for footer links */
    margin: 0 10px;
}

#footer a:hover {
    text-decoration: underline; /* Underline footer links on hover */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#song-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

#song-details p {
    margin: 10px 0;
}

#song-details p strong {
    font-weight: bold;
}

#song-details a {
    color: #007bff; /* Blue color for links */
    text-decoration: none;
}

#song-details a:hover {
    text-decoration: underline;
}

#hero {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    margin-top: 0.625rem;
    text-align: center;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem; /* Add space between buttons */
    flex-direction: column; /* Stack buttons vertically on small screens */
    align-items: center;
}

@media (min-width: 768px) {
    #button-container {
        flex-direction: row; /* Align buttons side by side on larger screens */
    }
}

.primary-button {
    background-color: #f2cb05;
    color: #000000;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
}

.secondary-button {
    background-color: transparent;
    color: #f2cb05;
    padding: 0.625rem 1.25rem;
    border: 1px solid #f2cb05;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
}

#download-section {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

#cta-section {                                                                       
    text-align: center;                                                              
    margin: 0 auto;                     
    max-width: 800px;                                                                
} 

#button-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem; /* Add space between buttons */
    flex-direction: column; /* Stack buttons vertically on small screens */
    align-items: center;
}

@media (min-width: 768px) {
    #button-container {
        flex-direction: row; /* Align buttons side by side on larger screens */
    }
}

#clear-sheet {
    margin-right: auto;
}

#smartboard-toggle {
    margin-left: auto;
}

.footer-copyright {
    font-size: 0.8em;
    color: grey;
    margin-top: 0.625rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        font-size: 0.875rem;
    }

    #navbar a {
        display: block;
        margin: 0.5rem 0;
    }

    #songs-table {
        width: 95%;
        margin: 2rem auto;
    }

    .primary-button, .secondary-button, .download-button {
        width: 100%;
        padding: 0.5rem;
        font-size: 0.875rem;
    }

    #editor-container {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px;
    }

    #editor {
        padding: 20px;
        column-count: 1;
        column-gap: 20px;
    }
}
