

body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000; /* Light gray background */
    color: #f2cb05; /* Dark text */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
}
#footer {
    margin-top: auto; /* Push the footer to the bottom of the page */
}


a {
    color: #f2cb05; /* Yellow for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline links on hover */
}

#navbar {
    background-color: #000000; /* Black background for navbar */
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

#navbar a {
    color: #333333; /* Dark text for navbar links */
    margin: 0 10px;
}

#navbar a:hover {
    color: #f2cb05; /* Change link color on hover */
}

#songs-table {
    max-width: 800px; /* Set maximum width for songs table */
    width: 80%; /* Make songs table full page width */
    padding: 20px;
    background-color: #000000; /* Black background for song table */
    border: 1px solid #000000; /* Light border */
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin: 0 auto; /* Center the table horizontally */
    margin-top: auto; /* Push the table to the bottom of the frame */
    flex: 1; /* Allow the songs table to grow to fill the available space */
}

#songs-table h2 {
    margin-top: 0;
    color: #f2cb05; /* Yellow for heading */
}

#song-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #2b2525;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center; /* Center-align table contents */
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
}

th {
    background-color: #373737; /* Light gray background for table header */
}

/* Footer styles */
#footer {
    background-color: #e60023; /* Red for footer */
    padding: 20px;
    text-align: center;
    color: #ffffff; /* White text */
    flex-shrink: 0; /* Prevent footer from shrinking */
}

#footer a {
    color: #ffffff; /* White text for footer links */
    margin: 0 10px;
}

#footer a:hover {
    text-decoration: underline; /* Underline footer links on hover */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#song-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

#song-details p {
    margin: 10px 0;
}

#song-details p strong {
    font-weight: bold;
}

#song-details a {
    color: #007bff; /* Blue color for links */
    text-decoration: none;
}

#song-details a:hover {
    text-decoration: underline;
}

#hero {
    margin: 0 auto; /* Center the element horizontally */
    width: 800px;
    max-width: 90%;
    margin-top: calc(100vh / 5); /* Apply the golden ratio to the margin-top */
    text-align: center;
}

.primary-button {
    background-color: #f2cb05; /* Yellow background for primary button */
    color: #000000; /* Black text for primary button */
    padding: 10px 20px; /* Add padding to primary button */
    border: none; /* Remove border from primary button */
    border-radius: 5px; /* Add border radius to primary button */
    cursor: pointer; /* Add cursor pointer to primary button */
}

.secondary-button {
    background-color: transparent; /* Transparent background for secondary button */
    color: #f2cb05; /* Yellow text for secondary button */
    padding: 10px 20px; /* Add padding to secondary button */
    border: 1px solid #f2cb05; /* Add border to secondary button */
    border-radius: 5px; /* Add border radius to secondary button */
    cursor: pointer; /* Add cursor pointer to secondary button */
}